@font-face {
    font-family: 'SansProLight';
    src: url(./sanspro/SourceSansPro-Light.otf);
}

@font-face {
    font-family: 'SansPro';
    src: url(./sanspro/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: 'SansProSemibold';
    src: url(./sanspro/SourceSansPro-Semibold.otf);
}

@font-face {
    font-family: 'SansProBold';
    src: url(./sanspro/SourceSansPro-Bold.otf);
}

.u100 {
    font-family: 'SansProLight', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.u400 {
    font-family: 'SansPro', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.u500 {
    font-family: 'SansProSemibold', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.u700 {
    font-family: 'SansProBold', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'SansPro';
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

p {
    font-size: 20px;
    line-height: 26px;
}

/* NAV */

.nav-hidden {
    height: 2.5em;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 12px;
}

.nav-hidden li:first-of-type {
    /* height: 100%; */
    margin-left: 16px;
}

.nav-hidden a {
    display: block;
    color: #fff;
    height: 100%;
    line-height: 2.5em;
    padding: 0 8px;
}

.nav-hidden a:first-of-type {
    position: relative;
}

.under {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #fff;
}

.nav-hidden li:hover a {
    background-color: #fff;
}

.nav-hidden li:hover a {
    color: #000;
}

.nav-fixed {
    height: 4em;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-fixed-a,
.nav-fixed-b {
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo {
    width: 8em;
    margin-top: 0.4em;
    margin-left: 1.5em;
    /* border: 1px solid #000; */
}

.button {
    padding: 5px 10px;
    border: 3px solid #224fe2;
    border-radius: 4px;
    background-color: #224fe2;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
}

.button i {
    padding-top: 4px;
    font-size: 12px;
}

.button.blue {
    color: #fff;
}

form {
    width: 24em;
    height: 2.5em;
    border: 1px solid #000;
    border-radius: 4px;
}

form input {
    float: left;
    padding: 8px;
    font-size: 15px;
    width: 88%;
    border: none;
    border-radius: 4px;
}

form button {
    float: left;
    width: 12%;
    height: 100%;
    color: #fff;
    background-color: #224fe2;
    border: none;
    cursor: pointer;
}

form button i {
    font-size: 18px;
    font-weight: 100;
}

.nav-fixed-b a:first-of-type {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 12px;
    /* border: 1px solid #000; */
    background-color: #fff;
}

.nav-fixed-b a i {
    padding-top: 4px;
}
.nav-fixed-b .dropdown2:hover {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ecf3f7;
}

.nav-fixed-b .dropdown2:hover i {
    transform: rotate(180deg);
    padding-bottom: 4px;
}

.log {
    color: rgb(32, 119, 186);
}

.underline:hover {
    text-decoration: underline;
    color: rgb(32, 119, 186);
}

.nav-fixed-b a:last-of-type {
    margin-right: 1.5em;
}

.button.blue:hover {
    background-color: #15359f;
    border: solid 3px #15359f;
    transition: 0.3s;
}

/* Section one */

.section-one-container {
    width: 100%;
}

.section-one {
    width: 1300px;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.section-one > div {
    width: 600px;
    padding: 24px;
}

h1 {
    font-size: 72px;
    margin-bottom: 24px;
}

.section-one .buttons-container {
    margin-top: 24px;
    display: flex;
    gap: 12px;
}

.buttons-container .button:first-of-type{
    width: 40%;
}

.buttons-container .button:last-of-type {
    width: 60%;
}

.button.white {
    color: #224fe2;
    background-color: #fff;
}

.wide {
    padding: 20px 32px;
}

.button.white:hover {
    background-color: #ecf3f7;
    transition: 0.3s;
}

.section-one img {
    width: 400px;
}

/* Section Two */

.section-two-container {
    width: 100%;
    background-color: #efefef;
}

.section-two {
    width: 1300px;
    height: 320px;
    margin: auto;
    padding-top: 36px;
}

.section-two a {
    display: block;
    margin: 36px auto;
    color: #000;
    font-size: 26px;
    text-align: center;
}

.section-two span {
    color: #224fe2;
}

.collaborators-container {
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.collaborators-container img {
    height: 32px;
}

.collaborators-container .img4 {
    height: 52px;
}

.collaborators-container .img7 {
    height: 24px;
}

/* Section Three */

:root {
    --underline-height: .3em;
    --transition-duration: .5s;
}

.section-three {
    width: 1300px;
    margin: auto;
    height: 2000px;

}

.careers-menu {
    display: flex;
    width: 1300px;
    position: relative;
    white-space: nowrap;
    background: #fff;
    padding: var(--underline-height) 0;
    margin: 2em 0;
    box-shadow: 0 1em 2em rgba(black, .05);
    border: 1px solid #000;
}

.underline-back {
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: var(--underline-height);
    width: 100%;
    background-color: #efefef;
}

.underline-atop {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: var(--underline-height);
    width: 12.5%;
    background: #224fe2;
    mix-blend-mode: multiply;
    transition: transform var(--transition-duration) ease-in-out;
}

.careers-menu p {
    font-size: 16px;
    display: inline-block;
    z-index: 2;
    width: 12.5%;
    padding: 1em 0;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #000;
}

.careers-menu p:hover {
    background-color: #ecf3f7;
    color: #224fe2;
}

.careers-menu p:focus {
    color: #224fe2;
}

.aa {
    color: #a01010;
}

.careers-window {
    width: 100%;
    border-top: 2.5px solid #efefef;
    border: 3px solid #efefef;
    padding: 24px;
    border-radius: 10px;
}

.careers-windows-container {
    margin-top: 12px;
    display: flex;
    gap: 24px;
}

.wtitle {
    padding: 40px 6px 0 56px;
    font-size: 24px;
}

.careers-window p {
    color: #777;
    font-size: 18px;
}

.careers-window h3 {
    font-size: 22px;
    margin: 24px 0 12px 0;
}

.windowa h2 {
    font-size: 36px;
    margin-bottom: 12px;
}

.windowa {
    width: 40%;
    padding: 0 6px 0 56px;
}

.wgraphs-container {
    padding-bottom: 24px;
    border-bottom:  1.5px solid #efefef;
}

.wgraph1,
.wgraph2 {
    /* position: relative; */
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.value {
    /* position: absolute; */
    margin-left: 16px;
}

.graph1, 
.graph2 {
    padding: 8px 10px;
    border-radius: 6px;
}

.graph1 {
    background-color: #efefef;
}

.graph2 {
    background-color: #224fe2;
    color: #fff;
}

.notes-container {
    margin: 24px 0;
}

.notes-container > div {
    margin-bottom: 24px;
    display: flex;
    color: #777;
    font-size: 16px;
}

.notes-container .value {
    color: #000;
    margin-left: 4px;
} 

.experience-container {
    display: flex;
    gap: 12px;
}

.experience-container img {
    width: 100px;
    height: fit-content;
}

.windowb {
    position: relative;
    margin-bottom: 40px;
}

.windowb h3 {
    margin-left: 16px;
}

.certificates-container {
    display: flex;
}

.certificate {
    margin: 0 10px 16px 10px;
    width: 360px;
    border-radius: 8px;
    transition: all .3s ease-in-out;

}

.certificate:hover {
    transform: scale(1.05);
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.certificate h4 {
    font-size: 19px;
}

.certificate > img {
    border-radius: 8px 8px 0 0;
    width: 360px;
    height: 220px;
    object-fit: cover;
    object-position: top;
}

.certificate-description {
    /* border: 1px solid #000; */
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.certificate-title {
    display: flex;
    gap: 8px;
}

.certificate-rate {
    display: flex;
    gap: 8px;
    align-items: center;
}

.certificate-rate i {
    color: #224fe2;
}

.certificate-all {
    width: fit-content;
    position: absolute;
    right: 0;
    margin-top: 24px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.certificate-all h4 {
    font-size: 18px;
}

.certificate-all:hover h4 {
    text-decoration: underline;
}

.careers-footer {
    width: 1100px;
    border-top: 2.5px solid #efefef;
    padding-top: 40px;
    margin: 40px auto;
}

.careers-footer p {
    color: #777;
    font-size: 16px;
}

/* Section Four */

.section-four-a,
.section-four-b,
.section-four-c {
    width: 1300px;
    margin: auto;
}

.carousel {
    --current-slide: 0;
    position: relative;
}

.slides-container {
    margin: 48px auto;
    display: flex;
    gap: 33px;
    border: 1px solid #000;
}

.carousel-buttons-container {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.carousel-button {
    position: relative;
    border: none;
    background-color: transparent;
}

.carousel-button i {
    font-size: 28px;
    cursor: pointer;
    padding: 12px;
}

.button-left {
    left: -36px;
}

.button-right {
    right: -56px;;
}

.carousel-button:hover i {
    color: #224fe2;
    transition: .3s;
}

.overflow {
    position: relative;
    /* overflow: hidden; */
}


.violet {
    color: #382d8b;
}

.section-four-a h2 {
    font-size: 32px;
    margin: 16px 0;
}

.card {
    width: 300px;
    border-radius: 8px 8px 0 0;
    border: 1px solid #efefef;
}

.section-four-a .card > img {
    width: 298px;
    border-radius: 8px 8px 0 0;
}

.section-four-a .card p {
    font-size: 15px;
    color: #777;
}

.section-four-a .card-description {
    padding: 20px;
}

.section-four-a .card-title {
    display: flex;
    align-items: center;
    margin: 0 0 12px 0;
    gap: 8px;
}

.section-four-a .card-title img {
    border-radius: 4px;
}

.section-four-a h4 {
    font-size: 22px;
}

.section-four-a .card-degree {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 20px 0 6px 0;
    color: rgb(32, 119, 186);
}


.section-four-a .card-degree p {
    color: rgb(32, 119, 186);
    
}